# ways to create a table
1. Pyspark Dataframe
2. Spark SQL (CTAS)
3. UI (Volume)

# Spark Basics

In [0]:
df = spark.read.csv('/Volumes/dev/naval/raw/csv/financial_dataset.csv', header = True, inferSchema = True)

In [0]:
df.show()

In [0]:
df.display()

In [0]:
(spark
.read
.csv('/Volumes/dev/naval/raw/csv/financial_dataset.csv', header = True, inferSchema = True)
.write
.mode('overwrite')
.saveAsTable('dev.venkat.financial')
)

In [0]:
%sql
select * from dev.venkat.financial;

In [0]:
%sql
select * from dev.venkat.financial where Branch = 'New York';

In [0]:
df = spark.read.table('dev.venkat.financial')

In [0]:
df.filter("Branch='New York'").explain(True)

In [0]:
df.filter("Branch='New York'").display()

In [0]:
df.select("TransactionID").display()

In [0]:
from pyspark.sql.functions import *;

In [0]:
df.select(col("TransactionID").alias("transaction_id")).display()

In [0]:
df.withColumnRenamed("TransactionID", "transaction_id   ").display()

In [0]:
df.withColumnsRenamed({"TransactionID": "transaction_id","CustomerID": "customer_id"}).display()